@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --main: #2E3035;
    --main_background: #1a1c21;
    --accent: #171544;
    --accent_light: #211f4e;
    --book_background: #24262b;
    
    --main_text: #fff;
    --logo_text: #fff;
    --slogan_text: #ddd;

    --main_border: solid 1px var(--main_text);
}



* {
    font-family: Roboto, sans-serif;
}

html,
body {
    margin: 0;
    background-color: var(--main);
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--main_text);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    padding-left: 1em;
}

input[type=text] {
    border: var(--main_border);
    background: var(--main);
    color: var(--main_text);
    font-size: 14px;
}



.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/index.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 248px;
}

.intro_logo {
    margin-top: 10px;
    margin-bottom: -20px;
    text-align: center;
    letter-spacing: -4px;
    font-family: 'Varela Round', sans-serif;
    font-size: 80px;
}

.intro_slogan {
    text-align: center;
    letter-spacing: -2.5px;
    color: var(--slogan_text);
    font-family: 'Varela Round', sans-serif;
    font-size: 44px;
}

.book {
    margin: 1.25em auto;
    border: var(--main_border);
    border-radius: 5px;
    box-shadow: none;
    background: var(--book_background);
    width: 1080px;
    overflow: hidden;
}

.collapsible {
    outline: none;
    border: none;
    border-top: var(--main_border);
    background-color: var(--accent);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    color: var(--main_text);
    font-size: 15px;
}

.collapsible:after {
    float: right;
    margin-left: 5px;
    color: var(--main_text);
    font-size: 15px;
    font-weight: bold;
    content: "\002B"; /* Plus  (+) sign */
}

.active:after {
    content: "\2212"; /* Minus (-) sign */
}

.active,
.collapsible:hover {
    background-color: var(--accent_light);
}

.content {
    box-sizing: border-box;
    display: none;
    background-color: var(--main_background);
    padding: 0 1em 18px;
    overflow: hidden;
    font-size: 15px;
}

.content .question {
    padding-top: 18px;
    padding-bottom: 6px;
    font-weight: bold;
}

.wrapper {
    margin-bottom: -40px;
    min-height: 100%;
}

.footer,
.push {
    height: 40px;
}

.footer {
    background: rgba(0, 0, 0, 0.6);
}

.footer ul,
.footer li {
    font-size: 30px;
}

@media only screen and (max-width: 1080px) {
    :root {
        --main_border: solid 2px var(--main_text);
    }

    .book {
        box-sizing: border-box;
        width: 100%;
    }
}

