@font-face {
	font-family: VAG Rounded;
	src: url(../fonts/VAG Rounded.eot);
	src: url(../fonts/VAG Rounded.ttf) format(truetype),
	url(../fonts/VAG Rounded.woff) format(woff),
	url(../fonts/VAG Rounded.woff2) format(woff2),
	url(../fonts/VAG Rounded.svg) format(svg);
}

:root {
	--main: #2E3035;
	--main_background: #1a1c21;
	--accent: #171544;
	--accent_light: #211f4e;
	--book_background: #24262b;
	
	--main_text: #fff;
	--logo_text: #fff;
	--slogan_text: #ddd;
}

html, body {
	width: 100%;
	margin: 0;
    padding: 0;
	background-color: var(--main);
	font-family: Sans-Serif;
	font-size: 1em;
	color: var(--main_text);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
	padding-left: 1em;
}

input[type=text] {
  background: var(--main);
  border: solid 1px var(--main_text);
  color: var(--main_text);
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 348px;
	background: url(../images/index.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro_logo {
	font-family: VAG Rounded;
	font-size: 5em;
	text-align: center;
}

.intro_logo br {
	display: block;
	margin: -10px;
}

.intro_slogan {
	font-family: VAG Rounded;
	font-size: 2.69em;
	text-align: center;
	color: var(--slogan_text);
}

.book {
	background: var(--book_background);
	width: 98%;
	margin-top: 1.25em;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: none;
	border: 1px solid var(--main_text);
	border-radius: 5px;
}

.collapsible {
	background-color: var(--accent);
	border: none;
	border-top: 1px solid var(--main_text);
	color: var(--main_text);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	outline: none;
	font-size: 1em;
}

.collapsible:after {
  content: "\002B"; /* Plus  (+) sign */
  font-size: 1em;
  font-weight: bold;
  color: var(--main_text);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Minus (-) sign */
}

.active,
.collapsible:hover {
	background-color: var(--accent_light);
}

.content {
	background-color: var(--main_background);
	width: 100%;
	padding: 0 1em;
	box-sizing: border-box;
	display: none;
	overflow: hidden;
}

.content .question {
	font-weight: bold;
	padding-top: 5px;
}

.content br {
	display: block;
	margin: 2px;
}

[class~='collapsible']:last-of-type,
[class~='content']:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}